mixin likedSubject(subject)
    div.likesub
        h4.likesub2
            a(href=`/subject/${subject.id}`).subjectname=subject.name
            br
            small.prodessor=subject.professor
        a(href=`/subject/${subject.id}/dislike`, style="color: black;").star ⭐
        