mixin likedSubject(subject)
    div.sub
        div.sub2
            a(href=`/subject/${subject.id}`).subjectname=subject.name
            br
            small.searchprofessor=subject.professor
        a(href=`/subject/${subject.id}/dislike`).star ⭐