mixin posting(posting)
    div.posting__mixin
        div.posting__mixin__left
            a(href=`/subject/${posting.subject}/community/${posting.id}`)#clickwriting=posting.title
            h5.createdAt=posting.createdAt
        div.posting__mixin__right
            h4 + #{posting.meta.rating}
    hr