mixin subject(subject)
    div.sub
        h4
            a(href=`/subject/${subject.id}`).subjectname=subject.name
            small.searchprofessor=subject.professor
        if subject.school
            h5=subject.school.name
        else
            h5 학교공통
        a(href=`/subject/${subject.id}/like`)
            i(class="fas fa-star" style="color:black;")
        hr