extends ../base.pug
include ../mixins/result.pug

block content
    div 
        h4 점수: #{score}
    div
        each test in tests
            +test(test)
        else
            li Sorry nothing found.
    br
    a(href=`/subject/${id}`) 확인