extends ../base
include ../mixins/result

block content
    div 
        h4 점수: #{score.score}
    div
        each test in tests
            +test(test)
        else
            li Sorry nothing found.
    br
    a(href=`/subject/${id}`) 확인
    h4.createdAt=score.createdAt