extends ../base.pug
include ../mixins/solvingTest

block content
    form(method="POST", action=`/subject/${id}/test/result`)
        div
            each test in tests
                +test(test)
            else
                li Sorry nothing found.
        br
        input(type="submit", value="제출하기")