extends ../base.pug
include ../mixins/test

block content
    each test in tests
        +test(test)
    else
        li Sorry nothing found.
    br
    a(href=`upload`) 문제 추가하기
    a(href="setting") 문제 풀러 가기