.edit__profileBox {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: 20px;
  img {
    width: 100px;
    height: 100px;
  }
  input {
    max-height: 100px;
    width: 330px;
    margin: 0px 0px 0px 10px;
  }
}
.edit__inputBox {
  width: 500px;
  margin: 10px 0px;
  display: flex;
  align-items: center;

  label {
    width: 80px;
    margin-right: 10px;
  }
  input {
    min-width: 330px;
    margin: 0;
  }
}
.edit__certificate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.warning {
  color: $thema-red;
  font-size: 15px;
}

.edit__certificateBtn {
  background-color: $thema;
  color: $bg;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.edit__submitBtn {
  margin-top: 30px;
  width: 500px;
}

.edit__links {
  width: 500px;
  margin: 10px;
}
