.whole__box {
  width: 100vw;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.left__box {
  width: 55vw;
  display: flex;
  flex-direction: row;
}
.right__box {
  width: 45vw;
  display: flex;
  flex-direction: column;
}

.mainLiked {
  width: 320px;
  margin: 5px 5px;
  height: 80vh;
  padding: 10px;
  background-color: $thema;
  text-align: justify;
}
.likesubs__main {
  margin-left: 7px;
  height: fit-content;
}

.star {
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2vh;
  text-align: justify;
  color: white;
}
.professor {
  margin-left: 1vh;
  font-size: smaller;
  color: gray;
}
.bird__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  padding: 0 10px;
  img {
    width: 100%;
    height: 50vh;
  }
}
.quote__box {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
  padding: 10px auto;
  border-radius: 10px;
  border: 1px solid rgba($color: $thema-red, $alpha: 1);
  background-color: rgba($color: $thema-red, $alpha: 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote__left__box {
  max-width: 100%;
  min-width: 95%;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0px 10px;
}
.author {
  margin-left: 5px;
  margin-bottom: 15px;
  color: rgba($color: black, $alpha: 0.7);
  font-size: 16px;
}
.quote {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($color: black, $alpha: 1);
  font-size: 14px;
  padding: auto 20px;
}

.quote__right__box {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.quote__button {
  background-color: rgba($color: $thema-red, $alpha: 0);
  color: rgba($color: $thema-red, $alpha: 1);
  border: 0px;
  padding: 10px 8px;
}
.main__search__button {
  font-size: 2vh;
  margin-top: 10vh;
  background-color: $thema-2;
  color: black;
  padding: 5px 10px;
}
.modeSelect {
  width: 150px;
  appearance: none;
  color: $thema-red;
  background-color: rgba($color: $thema-red, $alpha: 0);
  border: 1px solid rgba($color: $thema-red, $alpha: 1);
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.whole__box0 {
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
}
.main__p {
  padding: 50px;
  max-width: 300px;
  height: 120px;
  line-height: 150%;
  border: 1px solid;
  margin: 0 0 10px 0;
}
