.whole__box {
  width: 1200px;
  display: flex;
  flex-direction: row;
}
.left__box {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.right__box {
  width: 600px;
  display: flex;
  flex-direction: column;
}
#map {
  width: 200px;
  height: 180px;
}

p {
  padding: 50px;
  max-width: 300px;
  height: 120px;
  line-height: 150%;
  border: 1px solid;
  margin: 10px 0;
}

.big__img {
  width: 300px;
  height: 300px;
}
