.whole__box {
  width: 100vw;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.left__box {
  width: 55vw;
  display: flex;
  flex-direction: row;
}
.right__box {
  width: 45vw;
  display: flex;
  flex-direction: column;
}
#map {
  width: 40vw;
  height: 40vh;
}
#calendar {
  margin-top: 10px;
  width: 40vw;
  height: 40vh;
}
.main__p {
  padding: 50px;
  max-width: 300px;
  height: 120px;
  line-height: 150%;
  border: 1px solid;
  margin: 10px 0;
}
.mainLiked {
  margin: 5px 5px;
  width: 25vw;
  height: 80vh;
  padding: 10px;
  background-color: $thema;
  border: 1px solid $thema;
  text-align: justify;
}
.star {
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 2vh;
  text-align: justify;
  color: white;
}
.professor {
  margin-left: 1vh;
  font-size: smaller;
  color: gray;
}
.bird__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  padding: 0 10px;
  img {
    width: 100%;
    height: 50vh;
  }
}
.quote__box {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
  padding: 10px auto;
  border-radius: 10px;
  border: 1px solid rgba($color: $thema-red, $alpha: 1);
  background-color: rgba($color: $thema-red, $alpha: 0.3);
  display: flex;
  align-items: center;
  p {
    border: none;
    margin: 10px;
    font-stretch: semi-expanded;
  }
}
.main__search__button {
  font-size: 2vh;
  margin-top: 10vh;
  background-color: $thema-2;
  color: black;
  padding: 5px 10px;
}
