#postingSearch {
  margin-top: 20px;
  width: 90%;
}
.posting__search {
  width: 90%;
}
.posting__search__btn {
  width: 50px;
  border: 0px;
  background-color: white;
  color: rgba($color: $thema, $alpha: 1);
  font-weight: 500;
  font-size: 20px;
}
.postings__box {
  width: 90%;
  margin: 25px auto;
  hr {
    border: 0.1px solid rgba($color: $thema, $alpha: 0.3);
  }
}
.createdAt {
  display: block;
}

.postings__footer {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.paging_box {
  align-items: center;
  text-align: center;
}
.prev1 {
  color: #000;
  margin-right: 5px;
}
.prev2 {
  color: gray;
  margin-right: 5px;
}

.currentPageNum {
  color: #000;
  margin-right: 5px;
}
.otherPageNum {
  color: gray;
  margin-right: 5px;
}
.next1 {
  color: #000;
}
.next2 {
  color: gray;
}
