.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: white;
}
#subjectSearch {
  margin-top: 20px;
  width: 90%;
}
.search__form .search {
  width: 90%;
}
.search__btn {
  width: 50px;
  border: 0px;
  background-color: white;
  color: rgba($color: $thema, $alpha: 1);
  font-weight: 500;
  font-size: 20px;
}

.allsubs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid rgba($color: $thema, $alpha: 1);
}
.sub2 {
  width: 90%;
  a {
    height: fit-content;
  }
}
.searchprofessor {
  font-size: smaller;
  color: gray;
  padding-left: 3px;
}
.search__school {
  font-size: smaller;
  color: gray;
  padding-top: 8px;
}
.star {
  width: fit-content;
}

.subs {
  width: 90%;
  margin: 0px auto;
  border: 1px solid rgba($color: $thema, $alpha: 1);
  height: fit-content;
}

.subs__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  h4 {
    font-size: 24px;
    color: rgba($color: gray, $alpha: 1);
    padding-bottom: 10px;
  }
}
