.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  height: 40px;
  background-color: white;
}
.search__form .search {
  font-size: 16px;
  width: 80%;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
  background-color: white;
}
.search__form .push {
  width: 100px;
  height: 100%;
  border: 0px;
  font-size: 90%;
  padding: 3px;
}

.allsubs {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 10px;
  flex-direction: row;
}

.likesubs {
  margin-left: 2vw;
  margin-right: 2vw;
  border: 1px solid rgba($color: $thema, $alpha: 1);
  width: 50vw;
  height: fit-content;
}

.likesub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid rgba($color: $thema, $alpha: 1);
}
.likesub2 {
}
.subjectname {

}

.searchprofessor {
  font-size: smaller;
  color: gray;
}

.star {
  width: fit-content;
}

.subs{
  margin-left: 2vw;
  margin-right: 2vw;
  border: 1px solid rgba($color: $thema, $alpha: 1);
  width: 50vw;
  height: fit-content;
}
.sub{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  border-bottom: 1px solid rgba($color: $thema, $alpha: 1);
}