.subject__whole__box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0px;
  hr {
    border: 0.1px solid rgba($color: #000000, $alpha: 0.1);
  }
}
.subject__box {
  margin: 0px 15px;
  width: 480px;
}
.subject__link {
  color: $thema-thick;
}

.subject__buttonLine {
  margin-top: 10px;
}
.subject__button {
  background-color: $thema;
  color: $bg;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.subject__buttons {
  margin-top: 15px;
}
