.posting__header {
  width: 90%;
  padding: 10px 0px;
  margin: 0px auto;
  background-color: aliceblue;
}

.posting__title {
  margin: 10px 0 15px 20px;
  font-size: 30px;
  font-weight: 700;
  color: rgba($color: $thema-thick, $alpha: 1);
}

.posting__info {
  display: inline;
  font-size: 12px;
  color: rgba($color: $thema, $alpha: 0.8);
  margin-right: 10px;
}
.info__left {
  margin-left: 20px;
}

.posting__body {
  width: 90%;
  margin: 0px auto;
}
.posting__script {
  width: 90%;
  padding: 15px;
  font-size: 17px;
  min-height: 300px;
}

#videoContainer {
  video {
    margin: 0px auto;
    max-width: 100%;
    max-height: 500px;
  }
}

.posting__image {
  max-width: 70%;
  max-height: 500px;
  margin: 15px;
}

.posting__footer {
  width: 90%;
  display: flex;
  height: 60px;
  padding-top: 10px;
  margin: 0px auto;
}
.posting__btn {
  background-color: $thema;
  color: $bg;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.posting__comments {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  .posting__comment {
    display: flex;
    padding: 25px;
    background-color: #fafafa;
    color: black;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba($color: $thema, $alpha: 0.5);
    h4 {
      margin-right: 25px;
      color: grey;
    }
    span {
    }
  }
}

.posting__add-comments {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}
.posting__comment-form {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  textarea {
    width: 90%;
    height: 90px;
    display: inline;
    border: 0;
    border: 1px solid rgba($color: $thema, $alpha: 0.5);
  }
  button {
    width: 70%;
    height: 55px;
    display: inline;
    margin-top: 15px;
    background: rgba($color: $thema, $alpha: 0.8);
    color: white;
    border: 0;
  }
}
