header {
  max-width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $thema;
  color: white;
  .left__header {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 20px;
    }
  }
  nav {
    margin: 0px 20px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
    }
  }
}

.main__logo {
  max-width: 35px;
  height: auto;
  border-radius: 50%;
}
@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 3s;
  &.error {
    background-color: $thema-red;
    color: white;
  }
  &.success {
    background-color: $thema-green;
    color: gray;
  }
  &.info {
    background-color: $thema-yellow;
    color: gray;
  }
}