include mixins/flashMessage
doctype html
html(lang="ko")
    head
        title #{pageTitle ? pageTitle + "| " : ""} #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet" href="/static/css/main.css")
        link(rel="shortcut icon" href="#")
        block script
    body
        if messages.error
            +flashMessage("error", messages.error)
        if messages.info
            +flashMessage("info", messages.info)
        if messages.success
            +flashMessage("success", messages.success)
        include partials/header
        br
        h4.warning=errorMessage
        main
            block content
        //- 비밀각주
        include partials/footer.pug
    script(src="/static/js/main.js")
    block scripts
    if message
            script    
                |alert(#{message})