extends base.pug

block content
    h1 회원가입
    if errorMessage
      span=errorMessage


    form(method="POST", onsubmit="return common.chkPW();")
        input(placeholder="닉네임", name="name", type="text", required)
        input(placeholder="email", name="email", type="email", required)
        input(placeholder="id", name="username", type="text", required)
        input(placeholder="비밀번호", id = "password", name="password", type="password", 
         minlength=8, maxlength=20, required)
        input(placeholder="비밀번호 확인", name="password2", type="password", 
         minlength=8, maxlength=20, required)
        select(name="schoolName")
          option(value="") 미지정
          option(value="성신여자대학교") 성신여자대학교 
        input(type="submit", value="가입하기")
    hr
    div 
        a(href="/login") 로그인 하기 &rarr;
    div
      a(href="/user/kakao/start")
        img(src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222")

block script
    script(src="/static/js/checkPW.js")
