extends base.pug

block content
    if errorMessage
      span=errorMessage

    form(method="POST", id="chkPW", onsubmit="return false")
        input(placeholder="닉네임", name="name", type="text", required)
        input(placeholder="email", name="email", type="email", required)
        input(placeholder="id", name="username", type="text", required)
        input(placeholder="비밀번호", id = "password", name="password", type="password", 
         minlength=8, maxlength=20, required)
        input(placeholder="비밀번호 확인", name="password2", type="password", 
         minlength=8, maxlength=20, required)
        select(name="schoolName").enroll__select
          option(value="") 학교 무소속 선택
          option(value="성신여자대학교") 성신여자대학교 
        input(type="submit", value="가입하기")
        include partials/social-login
    hr
    div 
        a(href="/login") 로그인 하기 &rarr;
block scripts
    script(src="/static/js/checkPW.js")
