extends base.pug

block content
    div.whole__box
        div.left__box
            img(src="/uploads/default/redBird.png")
            if loggedIn
                a(href=`subject/search`).big__img 과목 검색하기
                
        div.right__box
            if loggedIn
                a(href="/map")
                    div(id = "map")
                div(id = "calendar")
                h4(id = "events", style="display:none")=events
                
            else
                p 이 사이트는 대학생들의 시험공부를 위한 사이트 입니다.
                 | 문제를 등록 후 테스트하거나 , 직접 만든 시험문제를 공유해서 서로 풀어볼 수 있고,
                 | 같은 과목을 선택한 학우들과 과목 게시판에서 수업에 대한 이야기를 나눌 수도 있습니다.
                p 지원 학교:
                 | 성신여대
                 | ㅁㅁ대


block scripts 
    if(loggedIn)
        link(rel="stylesheet", href="/static/css/showCalendar.css") 
        script(src="/static/js/showCalendar.js")
        script(type="text/javascript", src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${kakaoJS}`)
        script(src="/static/js/showMap.js")
        