extends base.pug
include mixins/mainLiked

block content
    div.whole__box0
        div.left__box
            div.bird__box
                if isHeroku
                    img(src="https://cbird2022.s3.ap-northeast-2.amazonaws.com/base/crazybirdLogo")
                else
                    img(src="/uploads/default/redBird.png")
                div(data-quotes=quotes).quote__box
                    div.quote__left__box
                        h5.author
                        div.quote
                    div.quote__right__box
                        select.modeSelect
                            option(value="" selected disabled hidden) 명언 모드 선택
                            option(value="sarcasm") sarcasm
                            option(value="wise") wise 
                        button(src="/").quote__button
                            i.fas.fa-plus
                        button.quote__button.refresh
                            i.fas.fa-sync-alt
        div.right__box
            p.main__p 이 사이트는 대학생들의 시험공부를 위한 사이트 입니다.
             | 문제를 등록 후 테스트하거나 , 직접 만든 시험문제를 공유해서 서로 풀어볼 수 있고,
             | 같은 과목을 선택한 학우들과 과목 게시판에서 수업에 대한 이야기를 나눌 수도 있습니다.
            p.main__p 현재 지원 학교: 
             |  성신여대



block scripts 
    script(src="/static/js/showQuote.js")
        