extends base.pug
include mixins/mainLiked

block content
    div.whole__box
        div.left__box
            div.mainLiked
                if loggedIn
                    div.likesubs__main
                        each subject in likedSubjects
                            +mainLiked(subject)
                        a(href=`subject/search`).main__search__button 과목 선택하기
            div.bird__box
                img(src="/uploads/default/redBird.png")
                div(data-quotes=quotes).quote__box
                    div.quote__left__box
                        h5.author
                        div.quote
                    div.quote__right__box
                        button(src="/").quote__button
                            i.fas.fa-plus
                        button.quote__button.refresh
                            i.fas.fa-sync-alt
        div.right__box
            if loggedIn
                a(href="/map")
                    div(id = "map", data-school=loggedInUser.school.address)
                div(id = "calendar", data-events = events).calendar__small

                
            else
                p.main__p 이 사이트는 대학생들의 시험공부를 위한 사이트 입니다.
                 | 문제를 등록 후 테스트하거나 , 직접 만든 시험문제를 공유해서 서로 풀어볼 수 있고,
                 | 같은 과목을 선택한 학우들과 과목 게시판에서 수업에 대한 이야기를 나눌 수도 있습니다.
                p.main__p 지원 학교:
                 | 성신여대
                 | ㅁㅁ대


block scripts 
    if(loggedIn)
        script(src="/static/js/showQuote.js")
        link(rel="stylesheet", href="/static/css/showCalendar.css") 
        script(src="/static/js/showCalendar.js")
        script(type="text/javascript", src=`//dapi.kakao.com/v2/maps/sdk.js?appkey=${kakaoJS}`)
        script(src="/static/js/showMap.js")
        