extends base.pug

block content
    h1 로그인
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password",
         minlength=8, maxlength=20, required)
        input(type="submit", value="Login")
    hr
    div
        a(href="/enroll") 회원가입 하기 &rarr;
    div
        a(href="/findId") 아이디 찾기 &rarr;
    div
        a(href="/findPassword") 비밀번호 찾기 &rarr;
    hr
    div
        a(href="/user/kakao/start")
            img(src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222")
        a(href="/user/naverlogin")
            img(height='50' src='http://static.nid.naver.com/oauth/small_g_in.PNG')