extends base.pug

block content
    h1 로그인
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder="아이디", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password", required)
        input(type="submit", value="Login")
    hr
    div
        a(href="/join") 회원가입 하기 &rarr;
    hr
    div
        a(href="user/kakao/start")
            img(src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222")