extends base.pug

block content
    form(method="POST")
        input(placeholder="아이디", name="username", type="text", required)
        input(placeholder="비밀번호", name="password", type="password",
         minlength=8, maxlength=20, required)
        input(type="submit", value="Login")
        include partials/social-login
    hr
    div
        a(href="/enroll") 회원가입 하기 &rarr;
    div
        a(href="/findId") 아이디 찾기 &rarr;
    div
        a(href="/findPassword") 비밀번호 찾기 &rarr;
    hr
    