extends base.pug
block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        label(for="title") 제목:
        input(placeholder="제목", type="text",id="title", name="title", maxlength=80)
        label(for="script") 내용:
        input(placeholder="내용", type="text", id="script",name="script", minlength=3, 
            style="width:500px; height:100px;")
        input(type="submit", value="보고하기")