extends base.pug
include mixins/subject
include mixins/likedSubject

block content
    if loggedIn
        form(method="GET")
            input(placeholder="Search by lecture or professor",name="keyword", type="text")
            input(type="submit", value="Search")
        each subject in likedSubjects
            +likedSubject(subject)
        h4 ----모든 과목-----
        each subject in subjects
            +subject(subject)
        else
            li Sorry nothing found.
    else
        a(href="/login") 문제와 게시판을 보려면 먼저 로그인 하기 &rarr;