extends base.pug
include mixins/subject
include mixins/likedSubject

block content
    if loggedIn
        form(method="GET", id="subjectSearch").search__form
            input(placeholder="과목명/교수 이름으로 검색",name="keyword", type="text").search
            button(form="subjectSearch", type="submit").search__btn
                i.fas.fa-search
        div.allsubs
            div.subs__title
                h4 <즐겨찾기>
            div.likesubs.subs
                each subject in likedSubjects
                    +likedSubject(subject)
            div.subs__title
                h4 <모든 과목>
            div.subs
                each subject in subjects
                    +subject(subject)
                else
                    li Sorry nothing found.
    else
        a(href="/login") 문제와 게시판을 보려면 먼저 로그인 하기 &rarr;