extends base.pug
block content
    if errorMessage
        span=errorMessage

    form(method="POST")
        input( type="radio", required, id="short", name="formType", value="1", onclick="chooseForm(this.name)", checked="checked")
        label( for="short") 단답형
        input( type="radio", required, id="multiple", name="formType", value="2", onclick="chooseForm(this.name)")
        label( for="multiple")   객관식
        br
        br
        div(id="form_1")
            label(for="question") 질문:
            input(placeholder="질문", type="text",id="Question", name="Question")
            label(for="Answer") 정답:
            input(placeholder="정답", type="text", id="Answer",name="Answer")
            input(type="submit", value="Upload Test")

        div(id="form_2" style="display: none;")
            span **틀린 선택지 3개를 전부 입력해주세요
            label(for="question") 질문:
            input(placeholder="질문", type="text",id="question", name="question")
            label(for="Answer") 정답:
            input(placeholder="정답", type="text", id="Answer",name="Answer")
            label(for="WrongAnswer1") 틀린 선택지1:
            input(placeholder="WrongAnswer",type="text", id="WrongAnswer1",name="WrongAnswer1")
            label(for="WrongAnswer2") 틀린 선택지2:
            input(placeholder="WrongAnswer",type="text", id="WrongAnswer2",name="WrongAnswer2")
            label(for="WrongAnswer3") 틀린 선택지3:
            input(placeholder="WrongAnswer", type="text", id="WrongAnswer3",name="WrongAnswer3")
            input(type="submit", value="Upload Test")

block script 
    script(src="/frontJS/chooseQuestionType.js")
        