div.social__login
    a(href="/user/kakao/start").social__btn
        img(src="/uploads/default/kakaoLogin.png")
    a(href="/user/naverlogin").social__btn
        img(src="/uploads/default/naverLogin.png")