div.social__login
    a(href="/user/kakao/start").social__btn
        if isHeroku
            img(src="https://cbird2022.s3.ap-northeast-2.amazonaws.com/base/kakaoLogin").main__logo
        else
            img(src="/uploads/default/kakaoLogin.png")
    a(href="/user/naverlogin").social__btn
        if isHeroku
            img(src="https://cbird2022.s3.ap-northeast-2.amazonaws.com/base/naverLogin").main__logo
        else
            img(src="/uploads/default/naverLogin.png")