extends ../base.pug
block content
    if errorMessage
        span=errorMessage

    form(method="POST", enctype="multipart/form-data")
        input(placeholder="제목", type="text",id="title", name="title", maxlength=80, value=posting.title)
        input(placeholder="내용", type="text", id="script",name="script", minlength=3, value=posting.script).script
        input(type="file", multiple, id="file", name="file", accept="video/*,image/*").mediaButton 
        input(type="submit", value="수정하기")
        hr
        a(href=`/subject/${posting.subject.id}/community`, style="color: black;") 게시판으로 돌아가기

        