extends ../base.pug
block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="radio", id="spam",value="spam", name="report") 
        label(for='spam') 스팸홍보/도배글입니다.
        br
        input(type="radio", value="porno", name="report")
        label(for='porno') 음란물입니다.
        br
        input(type="radio", value="illegal", name="report")
        label(for='illegal') 불법정보를 포함하고 있습니다.
        br
        input(type="radio", value="teen", name="report")
        label(for='teen') 청소년에게 유해한 내용입니다.
        br
        input(type="radio", value="insult", name="report")
        label(for='insult') 욕설/생명경시/혐오/차별적 표현을 사용했습니다.
        br
        input(type="radio", value="privacy", name="report")
        label(for='privacy') 개인정보 노출 게시물입니다.
        br
        input(type="radio", value="unpleasant", name="report")
        label(for='unpleasant') 불쾌한 표현이 있습니다.
        br
        input(type="submit", value="신고하기")