extends ../base.pug

block content
    if errorMessage
        span=errorMessage
    if loggedInUser.emailCertificated
         form(method="POST", id="upload", enctype="multipart/form-data", onsubmit="return false")
            input(placeholder="제목", type="text",id="title", name="title", maxlength=80)
            input(placeholder="내용", type="text",name="script", minlength=3).script
            input(type="file",multiple, accept="video/*,image/*", id="file", name="file").mediaButton 
            input(type="submit", value="등록하기")
    else  
        h4 이메일을 인증해야 게시물을 등록할 수 있습니다.
        a(href="/user/certificate-email") 인증하기 &rarr;

block scripts
    script(src="/static/js/fileUpload.js")