doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        link(rel="stylesheet" href="/static/css/main.css")
        link(rel="shortcut icon" href="#")
        block script
    body
        if errorMessage
            span=errorMessage
        form(method="POST")
            label(for='title') 시험 과목
            input(type="text", name="title",required)
            br
            label(for='start') 시험 날짜
            input(type="date", id="start", name="start",required)
            br
            input(type="submit", value="등록")
        h4=errorMessage