extends ../base

block content
    if(errorMessage)
        span=errorMessage 
    form(method="post")
        label(for="password1") 기존 비밀번호:
        input(placeholder="기존 비밀번호", type="text",id="password1", name="oldPassword")
        label(for="password2") 새 비밀번호:
        input(placeholder="새 비밀번호", type="text",id="password2", name="newPassword")
        label(for="password3") 새 비밀번호 확인:
        input(placeholder="새 비밀번호 확인", type="text",id="password3", name="newPassword2")
        input(type="submit", value="변경하기")