extends ../base

block content
    if(errorMessage)
        span=errorMessage 
    form(method="post", id="chkPW", onsubmit="return false")
        label(for="password1") 기존 비밀번호:
        input(placeholder="기존 비밀번호", type="password",id="password1", name="oldPassword")
        label(for="password") 새 비밀번호:
        input(placeholder="새 비밀번호", type="password",id="password", name="newPassword", minlength=8, maxlength=20)
        label(for="password3") 새 비밀번호 확인:
        input(placeholder="새 비밀번호 확인", type="password",id="password3", name="newPassword2", minlength=8, maxlength=20)
        input(type="submit", value="변경하기")

block scripts 
   script(src="/static/js/checkPW.js")