extends ../base

block content
    if errorMessage
      span=errorMessage
    form(method="POST")
        input(placeholder="이름", name="name", type="text", required, value=loggedInUser.name)
        input(placeholder="email", name="email", type="email", required, value=loggedInUser.email)
        input(placeholder="id", name="username", type="text", required, value=loggedInUser.username)
        input(type="submit", value="수정하기")
    if(!loggedInUser.socialOnly)
        a(href=`/user/change-password`, style="color: black;") 비밀번호 변경하기
        br
        a(href=`/user/leave`, style="color: black;") 탈퇴하기(⚠복구불가)
    else
        a(href=`/user/leave`, style="color: black;") 소셜가입을 탈퇴하기(⚠복구불가, 미완성)

    